{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
    <h3>Accepted Volunteer</h3>
    <hr>
    <table id="mytable" class="table data">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th>Volunteer Name</th>
                <th>Email ID</th>
                <th>Contact</th>
                <th>Reg. Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th>1</th>
                <td>Nilesh</td>
                <td>nilesh@gmail.com</td>
                <td>9090909090</td>
                <td> 02/02/2022</td>
                <td>pending</td>
                <td><a href="{% url 'view_volunteerdetail' 2 %}">View Details</a></td>
              </tr>
        </tbody>
    </table>
  </div>
{% endblock main %}